@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

body {
    font-family: 'Open Sans Condensed', sans-serif !important;
}

#arguments, #results, #error {
    height: 100vh;
    .args-form {
        input {
            width: 100px;
            height: 100px;
            margin: .4rem 0;
            text-align: center;
            font-size: 3rem;
            border: 1px solid;
            border-radius: 6px;
            &:hover {
                @media (min-width: 701px) {
                    background: rgb(248, 248, 239);
                    transition: .5s;
                }
            }
        }
        .btn {
            width: 150px;
        }
    }
}

#results {
    input {
        &:nth-of-type(1) {
            background: url('./icons/triangle.png') no-repeat;
            background-size: 20%;
        }
        &:nth-of-type(2) {
            background: url('./icons/1.png') no-repeat;
            background-size: 25%;
        }
        &:nth-of-type(3) {
            background: url('./icons/2.png') no-repeat;
            background-size: 25%;
        }
        border: 1px solid;
    }
}